//** header scss is for all header and navigation related classes and IDs **//

// menu
#menu-button {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 600;
    width: 30px;
    cursor: pointer;
    transform: translate(50%, 75%);
}

.hamburger {
    display: block;
    .line {
        position: relative;
        height: 3px;
        width: 20px;
        margin: 6px 8px;
        background-color: black;
        transition: 0.6s ease rotate;
        transition: 0.6s ease translate;
    }
    &:hover .line {
        background-color: #555555;
    }
}

// header
.header {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    .logo {
        max-width: 200px;
        max-height: 100px;
    }
}

// nav
.nav {
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    background-color: #ddd;
    opacity: 0;
    width: 100%;
    padding: 60px 60px;
    transition: 0.2s ease opacity;
    transition: 0.8s ease clip-path;
    clip-path: circle(8.2% at 60px 60px);
}

ul.top-menu {
    position: relative;
    list-style-type: none;
    text-align: center;
    margin-top: 100px;
    opacity: 0;
    padding: 0;
    li {
        margin-bottom: 1.25rem;
    }
    a {
        color: #555555;
        font-family: "Big Caslon FB Roman", "Big Caslon FB Roman", serif;
        font-size: 36px;
        font-weight: normal;
        line-height: 1.2;
        text-decoration: none;
        outline: none;
        &:hover {
            color: #111111;
        }
    }
}

.bottom-menu {
    position: absolute;
    bottom: 15px;
    right: 60px;
    color: #888888;
}


// styling for when menu is opened
body.menu-active {
    .nav {
        clip-path: circle(150% at 60px 60px);
        opacity: 1;
    }
    ul.top-menu {
        animation: menufadein;
        animation-delay: 0.7s;
        animation-duration: 0.7s;
        animation-fill-mode: forwards;
    }
    #line1 {
        transform: rotate(45deg) translate(-4px, -1px);
        transform-origin: left top;
    }
    #line2 {
        transform: rotate(-45deg) translate(-1px, -1px);
        transform-origin: left bottom;
    }
}

@keyframes menufadein {
    0% {
        opacity: 0;
        transform: translateY(6%);
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


@media screen and (max-width: 420px) {
    #menu-button {
        position: fixed;
        top: 30px;
        left: 15px;
        z-index: 600;
        width: 30px;
        cursor: pointer;
        transform: translate(50%, 75%);
    }
}